#define SSID "WIFI_NAME"
#define WIFI_PASSWORD "WIFI_PASSWORD"

#define MQTT_BROKER "BROKER.ADDRESS"
#define MQTT_USERNAME "USERNAME"
#define MQTT_PASSWORD "PASSWORD"
#define MQTT_TOPIC "TOPIC"
#define MQTT_PORT 1111